# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\FI_Cloud\OneDrive - Universidad Autónoma de Tamaulipas\14_Periodo_2022_1\PM_CLASE\PM_0_ClaseU2 codebase based on best match to current usage at 16/02/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

